@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>MediatR Sample App</h2>
        <h3>Sample ASP.NET Core MVC app using MediatR</h3>
        <ul>
            <li><a href="https://github.com/jbogard/MediatR">MediatR</a></li>
        </ul>
    </div>
</div>
